*

!.gitignore

!systemd/*
!systemd/user/*
!systemd/user/emacs.service

!nvim/
!nvim/*
!nvim/init.lua
!nvim/lua/*
!nvim/lua/cmp-setup.lua
!nvim/lua/lspconf.lua
!nvim/lua/plugins.lua

!helix/
!helix/*
!helix/config.toml

!fish/
!fish/*
!fish/config.fish
!fish/fish_variables

!i3/
!i3/*
!i3/config

!kitty/
!kitty/*
!kitty/kitty.conf
!kitty/current-theme.conf
!kitty/themes/*
!kitty/themes/gruvbox.conf
!kitty/themes/macchiato.conf
!kitty/themes/mocha.conf

!polybar/
!polybar/*
!polybar/config.ini
!polybar/launch.sh
!polybar/spotify.py

!rofi/
!rofi/*
!rofi/catppuccin-mocha.rasi
!rofi/config.rasi
!rofi/rofi-power-menu

!i3-scrot.conf
!tool-list.txt

!wallpapers/
!wallpapers/*

!dunst/
!dunst/*

!emacs/
emacs/*
!emacs/init.el
!emacs/elpa/
!emacs/elpa/*
!emacs/elisp/
!emacs/elisp/*
!emacs/elisp/themes/
!emacs/elisp/themes/*
!emacs/snippets/
!emacs/snippets/fundamental-mode/
!emacs/snippets/fundamental-mode/*
!emacs/snippets/python-mode/
!emacs/snippets/python-mode/*

emacs/ido.last
/emacs/elpa/*.signed
