*

!.gitignore

!nvim/*
!nvim/init.lua
!nvim/lua/*
!nvim/lua/cmp-setup.lua
!nvim/lua/lspconf.lua
!nvim/lua/plugins.lua

!fish/*
!fish/config.fish
!fish/fish_variables

!kitty/*
!kitty/kitty.conf
!kitty/themes/*
!kitty/themes/gruvbox.conf
!kitty/themes/macchiato.conf
!kitty/themes/mocha.conf

!polybar/*
!polybar/config.ini
!polybar/launch.sh
!polybar/spotify.py

!rofi/*
!rofi/catppuccin-mocha.rasi
!rofi/config.rasi
!rofi/rofi-power-menu

!i3-scrot.conf
!tool-list.txt
